body{
  background-color: #FAFAFA;
}

.split{
  width: 50%;
  min-height: 100vh;
  -moz-transition: width 1s ease-in-out;
  -ms-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  -webkit-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
  z-index:1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  position:relative;
}
#left{
  float: left;
  background-color: #4051B5;
}

#right{
  float: right;
  background-color: #E91C63;
}

.expand {
  width: 100% !important;
  z-index:-5;
}

.shrink {
  width: 0% !important;
  z-index: -10;
}

.mainbutton{
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.goaway{
  transform: scale(0);
  -moz-transform: scale(0);
}

#join_form, #host_form{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  min-width:100vw;
  min-height:100vh;
  top:-100vh;
  position:absolute;
  -moz-transition: top 1s ease-in-out;
  -ms-transition: top 1s ease-in-out;
  -o-transition: top 1s ease-in-out;
  -webkit-transition: top 1s ease-in-out;
  transition: top 1s ease-in-out;
  -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
  z-index:100;


}

#join_form{
  justify-content:center;
}


.godown{
  z-index:11;
  top:0vh !important;
}

.goleft{
  z-index:11;
  left: calc(0% + 192px) !important;
}

#list li{
  font-size: 4vh;
  color:#fafafa;
}

#wrapper{
  position:fixed;
}

#logo{
  -moz-transition: left 1s ease-in-out;
  -ms-transition: left 1s ease-in-out;
  -o-transition: left 1s ease-in-out;
  -webkit-transition: left 1s ease-in-out;
  transition: left 1s ease-in-out;
}

*{
  box-sizing:border-box;
}
